* {
  margin: 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

html {
  font-size: 10px;
}

h2 {
  margin: 60px 0 25px;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #bfbfbf;
  font-weight: bold;
  font-family: "Arial";
}

ul {
  list-style: none;
  padding-left: 0;
}

.menu {
  width: 100%;
}

.menu>ul {
  display: flex;
  justify-content: space-between;
}

.menu li {
  position: relative;
}

.menu a {
  display: block;
  text-decoration: none;
}

.menu a:hover {
  color: #fd8612;
  background-color: #3f4852;
}

.menu div {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 210px;
}

.dropdown li:not(:last-child) {
  border-bottom: 1px solid #b9bdc1;
}

.dropdown a {
  background-color: #d2d4d5;
  color: #2a3644;
}

.menu li:hover div {
  display: inline-block;
}

.menu div {
  border-top: 4px solid transparent;
  background-color: transparent;
}

.menu li:last-child .dropdown {
  right: 0;
}

ul.dropdown a {
  color: #2a3644;
}

.menu>ul>li:not(:first-child) {
  border-left: solid 1px #3f4852;
}

.menu>ul>li:not(:last-child),
.data th:not(:last-child),
.table b:not(:last-child) {
  border-right: solid 1px #3f4852;
}

.data td:not(:last-child),
.table i:not(:last-child) {
  border-right: solid 1px #c0c1c2;
}

.data th,
.table b {
  border-bottom: solid 1px #3f4852;
}

.data tr:not(:last-child) td,
.table p:not(:last-child) i {
  border-bottom: solid 1px #c0c1c2;
}

.data {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.span th:nth-child(2) {
  text-align: left;
}

.span th:last-child,
.table b:last-child {
  border-radius: 0 3px 0 0;
  border-right: none;
}

.menu ul,
.data th {
  background-color: #2a3644;
}

.menu>ul>li {
  background-color: transparent;
}

.menu a,
thead th {
  padding: 18px 25px;
  color: #ffffff;
  font: 700 1.6rem "Arial";
}

.data .number,
.data td:first-child,
.table p b:first-child,
.table p i:first-child {
  text-align: center;
  width: 6%;
  border-radius: 3px 0 0 0;
}

.name {
  width: 53%;
}

.data td:nth-child(3),
.data td:nth-child(4),
.data td:nth-child(5) {
  text-align: right;
}

.data td {
  padding: 18px 25px;
  background-color: #e8e8e8;
  font-size: 16px;
  color: #2a3644;
  font-family: "Arial";
}

.table p:nth-child(even) i,
.data tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

.data tr:hover td {
  background-color: #c0c1c2;
}

.data tr:last-child td:last-child,
.table p:last-child i:last-child {
  border-radius: 0 0 3px 0;
}

.data tr:last-child td:first-child,
.table p:last-child i:first-child {
  border-radius: 0 0 0 3px;
}

.table {
  margin: 0 0 20px 0;
  display: table;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.table p {
  display: table-row;
}

.table b {
  display: table-cell;
  padding: 18px 25px;
  color: #ffffff;
  font: 700 1.6rem "Arial";
  background-color: #2a3644;
}

.table i {
  display: table-cell;
  background-color: #e8e8e8;
  padding: 18px 25px;
  font-size: 16px;
  font-style: normal;
  color: #2a3644;
  font-family: "Arial";
}

.table p i:nth-child(3),
.table p i:nth-child(4),
.table p i:nth-child(5) {
  text-align: right;
}

.table p:hover i {
  background-color: #c0c1c2;
}