* {
  margin: 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

html {
  font-size: 10px;
}

h2 {
  margin: 60px 0 25px;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #bfbfbf;
  font-weight: bold;
  font-family: "Arial";
}

ul {
  list-style: none;
  padding-left: 0;
}

.menu,
.menu2 {
  width: 100%;
}

.menu2 {
  display: table;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.menu li {
  position: relative;
}

.menu a,
.menu2 a {
  display: block;
  text-decoration: none;
  background-color: #2a3644;
}



.menu a:hover {
  color: #fd8612;
  background-color: #3f4852;
}

.menu .first_dropdown, 
.menu .second_dropdown,
.menu .third_dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  min-width: 210px;
}

.menu .first_dropdown .dropdown {
  min-width: 210px;

}

.menu .first_dropdown .dropdown:last-child {
  background-color: #d2d4d5;
  border-radius: 0 3px 3px 0;
}

.flex ul:last-child li:last-child {
  border-bottom: 1px solid #b9bdc1;
}

.dropdown li:not(:last-child) {
  border-bottom: 1px solid #b9bdc1;
}

.flex .dropdown:not(:last-child) {
  border-right: 1px solid #b9bdc1;
}

.flex .dropdown:first-child li:first-child a {
  border-radius: 3px 0 0 0;
}

.flex .dropdown:first-child li:last-child a {
  border-radius: 0 0 0 3px;
}

.flex .dropdown:last-child li:first-child a {
  border-radius: 0 3px 0 0 ;
}

.flex .dropdown:last-child li:last-child a {
  border-radius: 0 0  3px 0;
}



ul .dropdown a {
  background-color: #d2d4d5;
  color: #2a3644;
  padding: 12px 19px;
}

ul .dropdown a:hover {
  background-color: #2a3644;
  color: #fd8612;
}

.first_dropdown {
  border-top: 4px solid transparent;
}

.menu>ul>li:hover .first_dropdown {
  display: inline-block;
}

.menu2 .second_dropdown {
  left: 100%;
  top: 0;
  border-left: 4px solid transparent;
}


.first_dropdown li:hover .second_dropdown {
  display: inline-block;
}

.menu2 .third_dropdown {
  right: 100%;
  top: 0;
  border-right: 4px solid transparent;
}

.second_dropdown li:hover .third_dropdown {
  display: inline-block;
}

.menu1 li:last-child div {
  right: 0;
}

.first_dropdown>ul>li:first-child>a,
.second_dropdown>ul>li:first-child>a,
.third_dropdown>ul>li:first-child>a {
  border-radius: 3px 3px 0 0;
}

.first_dropdown>ul>li:last-child>a,
.second_dropdown>ul>li:last-child>a,
.third_dropdown>ul>li:last-child>a {
  border-radius: 0 0 3px 3px;
}

.menu>ul>li:not(:first-child) {
  border-left: solid 1px #3f4852;
}

.menu2>ul>li:not(:first-child) {
  border-left: none;
}

.menu>ul>li:not(:last-child),
.menu2>ul>li:not(:last-child),
.data th:not(:last-child),
.table b:not(:last-child) {
  border-right: solid 1px #3f4852;
}

.menu2,
.menu3 {
  margin: 38px 0 0;
}


.menu2>ul {
  display: table-row;
}


.menu2>ul>li {
  display: table-cell;
}

.menu1>ul>li:first-child>a,
.menu2>ul>li:first-child>a,
.menu3>ul>li:first-child>a {
  border-radius: 3px 0 0 3px;
}

.menu1>ul>li:last-child>a,
.menu2>ul>li:last-child>a,
.menu3>ul>li:first-child>a {
  border-radius: 0 3px 3px 0;
}

.menu2>ul>li>a {
  text-align: center;
}

.menu3 .second_dropdown:hover .dropdown {
  display: block;
}

.menu3 .home {
  padding-left: 58px;
}

.home::before {
  content: "";
  position: absolute;
  background: url(../images/sprite.png) no-repeat;
  display: inline-block;
  width: 16px;
  height: 13px;
  background-position: -72px -22px;
  left: 30px;
  top: 18px;
}

.home:hover::before {
  background-position: -55px -22px;
}
 
.menu.menu3 li:hover .dropdown_flex {
  display: flex;
}
.menu.menu3 .social li {
  border: none;
}

.menu3 .social a {
  margin: 18px 25px;
  padding: 0;
  display: block;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
}

.menu3 .social a:hover {
  background-color: #2a3644;
}

.fb {
  height: 19px;
  width: 10px;
  background-position: 0 0;
}

.fb:hover {
  background-position: 0 -22px;
}

.tw {
  height: 15px;
  width: 18px;
  background-position: -12px 0;
}

.tw:hover {
  background-position: -12px -22px;
}

.inst {
  height: 19px;
  width: 19px;
  background-position: -31px 0;
}

.inst:hover {
  background-position: -31px -22px;
}

.data td:not(:last-child),
.table i:not(:last-child) {
  border-right: solid 1px #c0c1c2;
}

.data th,
.table b {
  border-bottom: solid 1px #3f4852;
}

.data tr:not(:last-child) td,
.table p:not(:last-child) i {
  border-bottom: solid 1px #c0c1c2;
}

.data {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.span th:nth-child(2) {
  text-align: left;
}

.span th:last-child,
.table b:last-child {
  border-radius: 0 3px 0 0;
  border-right: none;
}

.menu>ul {
  border-radius: 3px;
}

.menu1>ul,
.menu3,
.data th {
  background-color: #2a3644;
}


.menu>ul>li {
  background-color: transparent;
}

.menu a,
thead th {
  padding: 18px 25px;
  color: #ffffff;
  font: 700 1.6rem "Arial";
}

.data .number,
.data td:first-child,
.table p b:first-child,
.table p i:first-child {
  text-align: center;
  width: 6%;
  border-radius: 3px 0 0 0;
}

.name {
  width: 53%;
}

.data td:nth-child(3),
.data td:nth-child(4),
.data td:nth-child(5) {
  text-align: right;
}

.data td {
  padding: 18px 25px;
  background-color: #e8e8e8;
  font-size: 16px;
  color: #2a3644;
  font-family: "Arial";
}

.table p:nth-child(even) i,
.data tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

.data tr:hover td {
  background-color: #c0c1c2;
}

.data tr:last-child td:last-child,
.table p:last-child i:last-child {
  border-radius: 0 0 3px 0;
}

.data tr:last-child td:first-child,
.table p:last-child i:first-child {
  border-radius: 0 0 0 3px;
}

.table {
  margin: 0 0 20px 0;
  display: table;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.table p {
  display: table-row;
}

.table b {
  display: table-cell;
  padding: 18px 25px;
  color: #ffffff;
  font: 700 1.6rem "Arial";
  background-color: #2a3644;
}

.table i {
  display: table-cell;
  background-color: #e8e8e8;
  padding: 18px 25px;
  font-size: 16px;
  font-style: normal;
  color: #2a3644;
  font-family: "Arial";
}

.table p i:nth-child(3),
.table p i:nth-child(4),
.table p i:nth-child(5) {
  text-align: right;
}

.table p:hover i {
  background-color: #c0c1c2;
}